// dimensioni sezioni
$altezzaHeader: 90px;
$altezzaHeaderTop: 40px;
$altezzaHeaderBottom: 50px;


// colori
$mainColor: #101010;
$iconColor: #009cff;
$textColorLight: white;
$textColorMedium: lightgrey;
$textColorDark: grey;

// font size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
